<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">
<title>MultiGames</title>
</head>
<body style="background-color: rgb(241, 241, 241);">
    
<header>

    <h1>
        MultiGames
    
    </h1>

    <nav>
        
        <a href="/games">All games</a>
        <a href="">Categories</a>
        <a href="/add_a_game">Add a game</a>
        <a href="/add_a_category">Add a category</a>
        
    </nav>


</header>