<%- include('_header.ejs', {}); %>

<section>

    <h1>
        Add a category
    </h1>

    <form>

        <label for="category">Category:</label><br>
        <input type="text" id="category" name="category" value="" required ><br>

        <button type="submit">Submit</button>
    </form>

 

</section>


<%- include('_footer.ejs', {}); %>