<%- include('_header.ejs', {}); %>

<section>
    <div class="container2">
    <h1>
        Add a category
    </h1>

    <form>
        
            <div class="input1">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" value="" required >
                <span class="error_message"></span>
                 
        </div>
        <div class="button">
        <button type="submit">Submit</button>
        </div>
    </form>

</div>

 

</section>


<%- include('_footer.ejs', {}); %>