<%- include('_header.ejs', {}); %>

<section class="grid">
    <div class="container2">
        <h1>
            Edit category
        </h1>

        <form action="/category/edit/<%=values.id%>" method="post">

            <%- include('_category_form.ejs', { values }); %>
        </form>

    </div>

    <div class="textA">
        <div class="rotation">
            Let the games begin
        </div>
    </div>


</section>


<%- include('_footer.ejs', {}); %>
