<%- include('_header.ejs', {}); %>

<section class="grid">
    <div class="container2">
        <h1>
            Edit game
        </h1>

        <form action="/games/edit/<%=values.id%>" method="post" id="create_game_form">

            <%- include('_game_form.ejs', { values }); %>

        </form>


    </div>
    <div class="textA">
        <div class="rotation">
            Let the games begin
        </div>
    </div>


</section>


<%- include('_footer.ejs', {}); %>
