<!DOCTYPE html>
<html>

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css">
<title>MultiGames</title>

</head>
<body>
<header style="height: 100vh;">
    
    <h1>
        MultiGames
    
    </h1>
    <h2>
        The multiverse of games<br>
        From gamers, for gamers
    </h2>

    <nav>
        
        <a href="/games">All games</a>
        <a href="">Categories</a>
        <a href=>Add a game</a>
        <a href=>Add a category</a>
        
    </nav>


</header>

<section>
</section>

<footer>
    &copy; 2022 Tic Cosmin-Ioan

</footer>



</body>
</html>