* {
    box-sizing: border-box;
}

@keyframes spin1 {
    0% {
        font-size: 20px;
        transform: rotate(-360deg);
    }
    100% {
        font-size: 16px;
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        font-size: 16px;
        transform: rotate(360deg);
    }
    100% {
        font-size: 20px;
        transform: rotate(-360deg);
    }
}

header {

    background-image: url("/static/Photos/home2.gif");
    background-position-x: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    z-index: 3;
    top: 0px;
}

header .dropdown {
    position: relative;
}

header .dropdown:hover .panel {
    display: block;

}

header .dropdown .panel {
    
    
    display: none;
    position: absolute;
    top: 52px;
    left: 0;
    min-width: 15em;
}

header .dropdown .panel a {
    display: block;
    min-width: 100%;
    text-align: left;
    border-right: none;
}

header h1 {
    background-color: #022140;
    border: 6px solid white;
    border-right: none;
    border-left: none;
}

header a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin: 1em;
    float: left;
    border-right: 2px solid #022140;
    border-bottom: 2px solid #022140;

}

header a:last-child {
    border-right: none;
}


header a:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: #022140;
    transition: 0.5s;
}

header h1 {
    text-align: center;
    width: 100%;
    font-size: 4em;
    margin-bottom: 10px;


}

header h2 {
    text-align: center;
    width: 100%;

    color: #ffffff;
    background-color: #022140;
    position: absolute;
    top: 40%;
    border: 6px solid rgb(255, 255, 255);

    font-size: 4em;
}

header nav {
    display: flex;
    text-align: center;
}

body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    padding-bottom: 5rem;
}

section {
    max-width: 1240px;
    margin: 0 auto;
}

section.grid {
    display: flex;
}

.listing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.listing > div {
    position: relative;
}

.listing.categories {
    grid-template-columns: 1fr 1fr 1fr;
}

.listing.categories .image {
    aspect-ratio: 16/9;
    height: auto;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 320px;
    transition: .5s ease;
    object-fit: cover;
}

.middle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .5s ease;
    opacity: 0;

    text-align: center;
}

.mouseover:hover > img {
    opacity: 0.3;
}

.mouseover:hover .middle {
    opacity: 1;

}

.mouseover {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.text {
    background-color: #022140;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.container {
    position: relative;
    width: 200px;

}

#developer {
    font-size: 15px;
}

nav a {
    white-space: nowrap;
    background-color: #ffffff;
    padding: 16px;
    margin: 0px;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);

}

footer {

    background-color: rgba(79, 79, 79, 0.75);
    padding: 1em 2em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    color: white;
    backdrop-filter: blur(10px);


}

.container2 {
    max-width: 700px;

    flex-grow: 3;
    margin: 20px 25px;
    font-size: 20px;
    z-index: 2;

}

.input1 {
    padding: .5rem 1rem;
    background-color: rgb(241, 241, 241);

}


form {
}

form label {
    display: block;
}

form input, form select {
    display: block;
    padding: .75rem 1rem;
    width: 100%;
    margin: .5rem 0;
}

form .button {
    width: auto;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    background-color: #022140;
    color: #ffffff;
}

form .button:hover {

    background-color: #004ca1;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);

}

form .error_message {
    font-size: 16px;
    font-style: oblique;
    color: #990000;

    background: #f1baba;
    border: 1px solid #990000;
    padding: .5em;

    position: relative;
    padding-left: 2rem;
}

form .error_message:before {
    position: absolute;
    left: .5rem;
    top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    font-size: .5rem;
    content: "!";
    background: #990000;
    color: #FFF;
    border-radius: 50%;
    border: 1px solid #f1baba;
}

.textA {

    flex-grow: 1;
    margin: 0;

    font-size: 26px;
    color: #400233;
    font-style: italic;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes remove {
    0% {
        opacity: .8;
    }
    100% {
        opacity: 0;
    }
}

.rotation {
    animation: rotation 1s linear;
    text-align: center;
    position: sticky;
    top: 55%;
    left: 0;
    right: 0;
}

.removed {
    animation: remove 2s ease-out;
}

.removed:before {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 25%;
    right: 25%;
    bottom: 40%;
    z-index: 1;
    content: 'Removed';
    color: #fff;
    background: #009900;
}

@media (max-width: 700px) {
    header h1 {
        font-size: 2em;
    }
    .listing {
        grid-template-columns: 1fr 1fr;
    }

    .listing.categories {
        grid-template-columns: 1fr;
    }

    section.grid {
        display: block;
    }

    header nav {
        overflow-y: scroll;
    }
}

@media (max-width: 1240px) {
    section {
        padding-left: 1em;
        padding-right: 1em;
    }
}
